<div class="editor__action-bar">
  <input type="text" class="editor__action-bar-input" placeholder="Untitled">
  <button class="editor__action-bar-button">
    New
    <small>⇧⌥N</small>
  </button>
  <button class="editor__action-bar-button">
    Save
    <small>⌥S</small>
  </button>
  <button class="editor__action-bar-button editor__action-bar-button--primary">
    Run
    <small>⌘⏎</small>
  </button>
</div>

<div class="editor__query-editor">
  <textarea id="query-editor" name="query-editor" style="display: none;">SELECT * FROM users;</textarea>
</div>

<div class="editor__query-results">
  <table class="editor__query-results-table">
    <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>

      <tr>
        <td>2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>
</div>
