<div class="sidebar__search">
  <input class="sidebar__search-input" placeholder="Search columns" type="text">
  <button class="sidebar__search-clear">
    <svg width="14" height="14">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-close"></use>
    </svg>
  </button>
</div>

<div class="schema">
  <div class="schema__container">
    <div class="schema__empty-message">
      No column or table names matched.
    </div>

    <div class="schema__table-name">
      balance_transaction_fee_details
    </div>
    <div class="schema__column">
      <span class="schema__column-name">balance_transaction_id</span>
      <span class="schema__column-type">varchar</span>
    </div>
    <div class="schema__column">
      <span class="schema__column-name">amount</span>
      <span class="schema__column-type">bigint</span>
    </div>

    <div class="schema__table-name">
      balance_transactions
    </div>
    <div class="schema__column">
      <span class="schema__column-name">id</span>
      <span class="schema__column-type">varchar</span>
    </div>
    <div class="schema__column">
      <span class="schema__column-name">amount</span>
      <span class="schema__column-type">bigint</span>
    </div>
  </div>
</div>
