:root {
  --color__white: #ffffff;
  --color__ucla-blue: #587291;
  --color__ucla-blue--light: rgba(88, 114, 145, .1);
  --color__turquoise: #34E4EA;
  --color__blue-green: #099EB0;
  --color__blue-green--light: rgba(9, 158, 176, .1);
  --color__japanese-indigo: #26414A;

  --text-regular-color: var(--color__ucla-blue);
  --text-bold-color: var(--color__japanese-indigo);
  --action-color: var(--color__blue-green);
  --action-color--hover: var(--color__blue-green);
  --action-background--hover: var(--color__blue-green--light);

  --text-font: 13px/16px Camphor,Open Sans,Segoe UI,sans-serif;
  --code-font: 13px/18px Source Code Pro,monospace;
}

* { box-sizing: border-box; }
body {
  background-color: var(--color__white);
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font: var(--text-font);
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

/* editor */
.editor {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  max-width: 75vw;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.editor__action-bar {
  margin: 20px 20px 10px;
  display: flex;
}
.editor__action-bar-input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  color: var(--text-bold-color);
  width: 100%;
  padding: 1px 10px 0;
  margin-right: 5px;
  border-radius: 4px;
  transition: box-shadow .2s;
  position: relative;
}
.editor__action-bar-input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--text-regular-color);
}

.editor__action-bar-button {
  outline: none;
  background-color: transparent;
  height: 28px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid;
  margin: -1px 5px;
  font-weight: 700;
  color: var(--text-regular-color);
  font-size: 13px;
  white-space: nowrap;
  user-select: none;
  transition: all .2s ease-in-out;
}
.editor__action-bar-button:hover,
.editor__action-bar-button:active {
  background-color: var(--action-background--hover);
  color: var(--action-color);
}
.editor__action-bar-button:focus {
  box-shadow: 0 0 0 2px var(--color__ucla-blue--light);
}
.editor__action-bar-button:last-child {
  margin-right: 0;
}
.editor__action-bar-button small{
  font-weight: 400;
  font-size: 10px;
}

.editor__action-bar-button--primary {
  background-color: var(--action-color);
  border-color: var(--action-color);
  color: var(--color__white);
}

.editor__query-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 110px);
}

.editor__query-editor {
  flex-grow: 1;
  height: 50%;
  max-height: 50%;
}

.editor__query-editor textarea {
  position: fixed;
  top:0;
  left: -9999px;
}

.editor__query-results {
  flex-grow: 1;
  max-height: 50%;
  overflow: auto;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--text-regular-color);
  letter-spacing: .025em;
}
.editor__query-results-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  background-color: transparent;
}

.editor__query-results-table td,
.editor__query-results-table th {
  padding: .5rem;
  vertical-align: top;
  border-top: 1px solid var(--color__ucla-blue--light);
  text-align: left;
}

.editor__query-results-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--color__ucla-blue--light);
}
.editor__query-results-table tbody tr:hover {
  background-color: var(--action-background--hover);
  color: var(--action-color--hover);
}

.editor__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  margin: 10px 20px 20px;
  display: flex;
  flex-direction: row-reverse;
}

/* CodeMirror theme */
.cm-s-alf.CodeMirror { height: 100%; }

.cm-s-alf.CodeMirror,
.cm-s-alf.CodeMirror pre {
  font: var(--code-font);
  line-height: 24px;
  letter-spacing: .025em;
  color: var(--text-regular-color);
}

.cm-s-alf.CodeMirror-focused .CodeMirror-selected,
.cm-s-alf .CodeMirror-selected {
  background-color: var(--action-background--hover);
}

.cm-s-alf .CodeMirror-gutters {
  background-color: color: var(--color-white);
  border: 0;
}

.cm-s-alf .CodeMirror-linenumber {
  color: var(--text-regular-color);
  margin-right: 10px;
}

.cm-s-alf .CodeMirror-cursor { border-left: 1px solid var(--text-regular-color); }

.cm-s-alf .cm-keyword { color: var(--action-color); font-weight: 600; }
.cm-s-alf .cm-atom { color: #F90; }
.cm-s-alf .cm-number { color:  #ca7841; }
.cm-s-alf .cm-def { color: #8DA6CE; }
.cm-s-alf span.cm-variable-2, .cm-s-alf span.cm-tag { color: #690; }
.cm-s-alf span.cm-variable-3, .cm-s-alf span.cm-def, .cm-s-alf span.cm-type { color: #07a; }

.cm-s-alf .cm-variable { color: #07a; }
.cm-s-alf .cm-property { color: #905; }
.cm-s-alf .cm-qualifier { color: #690; }

.cm-s-alf .cm-operator { color: #cda869; }
.cm-s-alf .cm-comment { color:#8898aa;}
.cm-s-alf .cm-string { color:#07a; font-style:italic; }
.cm-s-alf .cm-string-2 { color:#bd6b18; }
.cm-s-alf .cm-meta { color: #000; }
.cm-s-alf .cm-builtin { color: #9B7536; }
.cm-s-alf .cm-tag { color: #997643; }
.cm-s-alf .cm-attribute { color: #d6bb6d; }
.cm-s-alf .cm-header { color: #FF6400; }
.cm-s-alf .cm-hr { color: #AEAEAE; }
.cm-s-alf .cm-link { color:#ad9361; font-style:italic; text-decoration:none; }
.cm-s-alf .cm-error { border-bottom: 1px solid red; }

/* CodeMirror hints */
.CodeMirror-hints {
  position: absolute;
  max-height: 20em;
  z-index: 10;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border: 1px solid;
  border-radius: 4px;
  background-color: color: var(--color-white);
  color: var(--text-regular-color);
  font: var(--code-font);
  font-weight: 700;
  letter-spacing: .025em;
  white-space: nowrap;
  user-select: none;
  transition: all .2s ease-in-out;
}

.CodeMirror-hint {
  cursor: pointer;
  padding: 5px 15px !important;
  font-weight: 400;
}

.CodeMirror-hint-active {
  background-color: var(--action-background--hover);
  color: var(--action-color--hover);
  font-weight: 700;
}
