* { box-sizing: border-box; }
body {
  background: #fff;
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 62.5%;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

/* sidebar */
.sidebar {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  max-width: 400px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  background: #fff;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

.sidebar__nav {
  display: flex;
  margin: 20px 20px 0;
  justify-content: space-around;
}

.sidebar__nav-section {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 700;
  color: #8898aa;
  font-size: 13px;
  letter-spacing: .025em;
  text-decoration: none;
}

.sidebar__nav-section--active {
  color: #424770;
}

.sidebar__search {
  margin: 20px 20px 0;
  background: #f6f9fc;
  border-radius: 4px;
  position: relative;
}
.sidebar__search:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 10px;
  top: 7px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' fill='none' stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><circle cx='14' cy='14' r='12'/><path d='M23 23 L30 30'/></svg>") no-repeat;
  pointer-events: none;
}
.sidebar__search-input {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 27px;
  color: #424770;
  width: 100%;
  padding: 1px 28px 0;
  border-radius: 4px;
  transition: box-shadow .2s;
  position: relative;
}
.sidebar__search-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5px rgba(50,151,211,.2), 0 0 0 2px rgba(50,151,211,.25), 0 0.5px 1px rgba(0,0,0,.08);
}
.sidebar__search-clear {
  border: none;
  outline: none;
  padding: 0;
  background: transparent;
  position: absolute;
  top: 7px;
  right: 7px;
  height: 14px;
  cursor: pointer;
  display: none;
}

/* schema */
.schema {
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.schema__container {
  overflow: hidden;
  position: relative;
}

.schema__empty-message {
  display: none;
  font-size: 14px;
  color: #6b7c93;
  top: 10px!important;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
  padding: 0 20px;
}

.schema__table-name {
  font: 13px/18px Source Code Pro,monospace;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  color: #424770;
  font-weight: 700;
  margin-top: 9px;
  padding: 0 20px;
}
.schema__column {
  position: relative;
  padding-left: 40px!important;
  color: #8898aa;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.schema__column:hover {
  background: rgba(227,234,255,.5);
  color: #555abf!important;
}
.schema__column-name {
  font: 13px/24px Source Code Pro,monospace;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.schema__column-type {
  font-size: 12px;
  line-height: 24px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-transform: capitalize;
}
